body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

h1,
p,
h3 {
  margin: 0;
  padding: 0;
}

.section-1 {
  background-color: #1f2937;
  padding-top: 10px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 30px;
}

.section-1 > .section-1m {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding: 16px 0;
}

.section-1 > .section-1m > .logo-wrapper > li > a,
.section-1 > .section-1m > .header-links > li > a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 14px;
}

.section-1 > .section-1m > .logo-wrapper {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.section-1 > .section-1m > .header-links {
  list-style-type: none;
  display: none;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.section-1 > .section-1m > .toggle-icon {
  display: flex;
  cursor: pointer;
}

.section-1 > .hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.section-1 > .hero-section > .hero-text {
  max-width: 450px;
}

.section-1 > .hero-section > .hero-text h1 {
  color: #f9faf8;
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
}

.section-1 > .hero-section > .hero-text button {
  background-color: #3882f6;
  border: none;
  padding: 5px 20px;
  color: #f9faf8;
  border-radius: 8px;
}

.section-1 > .hero-section > .img-placeholder {
  background-color: rgb(138, 138, 138);
  color: white;
  padding: 25px;
}

.section-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  padding: 30px 20px 30px;
}

.section-2 h3 {
  font-size: 26px;
  color: #1f2937;
  margin-bottom: 30px;
}

.section-2 > .grouped-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-2 > .grouped-info > .info {
  max-width: 120px;
}

.section-2 > .grouped-info > .info div {
  height: 120px;
  width: 120px;
  border: 2px solid #3882f6;
  border-radius: 8px;
}

.section-2 > .grouped-info > .info p {
  font-size: 12px;
  margin-top: 3px;
  text-align: center;
}

.section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5e7eb;
  padding: 50px 20px;
}

.section-3 > .quotation {
  max-width: 650px;
}

.section-3 > .quotation > .quote {
  font-size: 24px;
  font-weight: 100;
  font-style: italic;
  margin-bottom: 10px;
}

.section-3 > .quotation > .author {
  text-align: right;
  font-weight: 500;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.section-4 > .cta {
  background-color: #3882f6;
  max-width: 600px;
  padding: 20px 30px;
  font-size: 14px;
}

.section-4 > .cta > .cta-text > h3 {
  color: white;
}

.section-4 > .cta > .cta-text p {
  color: #e5e7eb;
}

.section-4 > .cta > .cta-button {
  color: white;
  background-color: #3882f6;
  border: 1px solid white;
  padding: 2px 15px;
  border-radius: 5px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 20px;
}

footer p {
  color: white;
  font-size: 12px;
}

@media (min-width: 768px) {
  .section-1 > .section-1m > .header-links {
    display: flex;
  }
  .section-1 > .section-1m > .toggle-icon {
    display: none;
  }
  .section-1 > .hero-section {
    flex-direction: row;
  }
  .section-1 > .hero-section > .img-placeholder {
    background-color: rgb(138, 138, 138);
    color: white;
    padding: 70px;
  }
  .section-1 > .hero-section > .hero-text h1 {
    font-size: 48px;
  }

  .section-2 h3 {
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 30px;
  }
  .section-2 > .grouped-info {
    flex-direction: row;
  }

  .section-3 > .quotation > .quote {
    font-size: 36px;
  }

  .section-4 > .cta {
    background-color: #3882f6;
    max-width: 600px;
    padding: 20px 70px;
    font-size: 14px;
  }
}
